@page "/Customers"
@inject IService<CustomerDto> _service
<FiltersComponent SearchSubmited="OnPaginatedSearch" SearchReset="()=>SearchCriteria=new CustomerDto()" FilterFor="Customers">
	<div class="col-md-6">
		<label for="name">Name</label>
		<input type="text" @bind-value=@SearchCriteria.Name id="name" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="code">Code</label>
		<input type="text" @bind-value=@SearchCriteria.Code id="code" class="form-control" />
	</div>
</FiltersComponent>

<div class="card">
    <div class="card-header">
        <a class="btn btn-primary" href="/Customers/Form"><i class="ri-add-line me-md-1_5"></i>Create Customer</a>
        
    </div>
<TableComponent>
	<thead>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-border-bottom-0">
		<List Deleted="OnDelete" Customers="Customers"></List>
	</tbody>
</TableComponent>
	<div class="card-footer">
		<PaginationComponent Pagination="Pagination" PaginationChanged="OnPaginatedSearch"></PaginationComponent>
	</div>
</div>
@code {
	public List<CustomerDto> Customers { get; set; }
	public CustomerDto SearchCriteria { get; set; } = new();
	public PaginationInfo Pagination { get; set; } = new();

	protected async override Task OnInitializedAsync()
	{
		var response = await _service.GetAll();
		if (response.Result != null)
		{
			Customers = response.Result;
			Pagination = response.Pagination!;
		}
	}
	public async Task OnPaginatedSearch()
	{
		var response = await _service.GetAllWithSearch(SearchCriteria, Pagination.Page, Pagination.PageSize);
		if (response.Result != null)
		{
			Customers = response.Result;
			Pagination = response.Pagination!;
		}
	}
	public async Task OnDelete(int id)
	{
		if(await _service.Delete(id))
		{
			var customer = Customers.FirstOrDefault(e => e.Id == id);
			Customers.Remove(customer);
		}

	}
}
