@if (Customers != null)
{
    @foreach(var item in Customers)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Code</td>
            <td>
            
                        <a class="rounded-pill btn-outline-info"  href="/Customers/Form/@item.Id"><i class="ri-pencil-line m-1_5"></i></a>
                <button class="rounded-pill btn-outline-danger" @onclick="()=>Delete(item.Id)"><i class="ri-delete-bin-6-line m-1_5"></i></button>
                
            </td>
        </tr>
    }
}
@code {
    [Parameter]
    public List<CustomerDto> Customers { get; set; }
    [Parameter]
    public EventCallback<int> Deleted { get; set; }
    public void Delete(int id)
    {
        Deleted.InvokeAsync(id);
    } 
}
