@page "/Taxes"
@inject IService<TaxDto> _service
<FiltersComponent SearchSubmited="OnPaginatedSearch" FilterFor="Taxes">
	<div class="col-md-6">
		<label for="name">Name</label>
		<input type="text" @bind-value=@SearchCriteria.Name id="name" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="code">Code</label>
		<input type="text" @bind-value=@SearchCriteria.Code id="code" class="form-control" />
	</div>
</FiltersComponent>

<div class="card">
    <div class="card-header">
        <a class="btn btn-primary" href="/Taxes/Form"><i class="ri-add-line me-md-1_5"></i>Create Tax</a>
        
    </div>
<TableComponent>
	<thead>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Default Rate</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-border-bottom-0">
		<List Deleted="OnDelete" Taxes="Taxes"></List>
	</tbody>
</TableComponent>
	<div class="card-footer">
		<PaginationComponent Pagination="Pagination" PaginationChanged="OnPaginatedSearch"></PaginationComponent>
	</div>
</div>
@code {
	public List<TaxDto> Taxes { get; set; }
	public TaxDto SearchCriteria { get; set; } = new();
	public PaginationInfo Pagination { get; set; } = new();

	protected async override Task OnInitializedAsync()
	{
		var response = await _service.GetAll();
		if (response.Result != null)
		{
			Taxes = response.Result;
			Pagination = response.Pagination!;
		}
	}
	public async Task OnPaginatedSearch()
	{
		var response = await _service.GetAllWithSearch(SearchCriteria, Pagination.Page, Pagination.PageSize);
		if (response.Result != null)
		{
			Taxes = response.Result;
			Pagination = response.Pagination!;
		}
	}
	public async Task OnDelete(int id)
	{
		await _service.Delete(id);
	}
}
